@use 'variables.scss' as *;

.register,
.login,
.dashboard-router {
  gap: 1rem;
  max-width: 500px;
  max-height: fit-content;
  form {
    @include flex(column, flex-start, stretch);
    gap: 5px;

    .input-container {
      // border: 1px solid red;
      @include flex(column, flex-start, stretch);
      position: relative;
      * {
        position: absolute;
        // border: 1px solid red !important;
      }
      label {
        @include no-select;
        padding: 0.7px 0px 0px 0px;
        margin: 15px 10px;
        font-size: 0.8rem;
        color: $blue;
        transition:
          transform 0.15s ease-out,
          font-size 0.15s ease-out;
        cursor: text;
      }
      height: 60px;
      width: 100%;
      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $dblue;
        color: $white;
        padding: 20px 10px 10px 10px;
        width: 100%;
        &::placeholder {
          color: transparent;
          font-size: 0.8rem;
        }
        &:focus {
          outline: none;
          border-color: $blue;
        }
        &:focus + label,
        &:not(:placeholder-shown) + label {
          transform: translateY(-15px);
          font-size: 0.7rem;
          color: $blue;
        }
      }
    }
    select {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $dblue;
      padding: 10px 5px;
      color: $white;
      &:focus {
        outline: none;
        border-color: $blue;
      }
    }
    .remember {
      @include flex(row, flex-start, center);
      height: 25px;
      width: fit-content;
      // padding: 15px 30px;
      // display: block;
      position: relative;
      cursor: pointer;
      font-size: 0.8rem;
      // padding-left: 30px;
      @include no-select;
      .label {
        padding: 10px 15px 10px 30px;
        border-radius: 50px;
        // margin-left: -1rem;
        z-index: 1;
      }
      &:hover input ~ .checkmark {
        background-color: rgba($color: $dblue, $alpha: 0.7);
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background-color: $blue;
          &::after {
            display: block;
          }
        }
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $dblue;
        border-radius: 5px;
        &::after {
          content: '';
          position: absolute;
          display: none;
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    button {
      background-color: $blue;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 10px;
      &.mid-button {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
    caption {
      text-align: right;
      font-size: 0.8rem;
      color: $blue;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
