@use 'variables.scss' as *;

.register,
.login,
.dashboard-router {
  gap: 1rem;
  max-width: 500px;
  max-height: fit-content;
  form {
    @include flex(column, flex-start, stretch);
    gap: 5px;

    .input-container {
      // border: 1px solid red;
      @include flex(column, flex-start, stretch);
      position: relative;
      * {
        position: absolute;
        // border: 1px solid red !important;
      }
      label {
        @include no-select;
        padding: 0.7px 0px 0px 0px;
        margin: 15px 10px;
        font-size: 0.8rem;
        color: $blue;
        transition:
          transform 0.15s ease-out,
          font-size 0.15s ease-out;
        cursor: text;
      }
      height: 60px;
      width: 100%;
      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $dblue;
        color: $white;
        padding: 20px 10px 10px 10px;
        width: 100%;
        &::placeholder {
          color: transparent;
          font-size: 0.8rem;
        }
        &:focus {
          outline: none;
          border-color: $blue;
        }
        &:focus + label,
        &:not(:placeholder-shown) + label {
          transform: translateY(-15px);
          font-size: 0.7rem;
          color: $blue;
        }
      }
    }
    select {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $dblue;
      padding: 10px 5px;
      color: $white;
      &:focus {
        outline: none;
        border-color: $blue;
      }
    }
    button {
      background-color: $blue;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 10px;
      &.mid-button {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
    caption {
      text-align: right;
      font-size: 0.8rem;
      color: $blue;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
