@use 'variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  color-scheme: dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/inter.ttf') format('truetype'),
    url('../assets/fonts/inter-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/geist-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'OCR';
  src: url('../assets/fonts/ocr-a.ttf') format('truetype');
}

body {
  background-color: $black;
  color: $white;
}

#app {
  @include flex(column, flex-start, center);
}

.router-wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex(column, flex-start, center);
  overflow-y: auto;

  &.locked {
    // pointer-events: none;
    overflow-y: hidden;
    // transform: scale(0.9);
  }
}

.page {
  padding: 1rem;
  @include flex(column, flex-start, stretch);
  max-width: 900px;
  width: calc(100% - 4rem);
  margin: 4rem 0;
  background-color: $dark;
  border-radius: 15px;
  // position: absolute;
}

.dashboard-router {
  opacity: 1;
  .wrapper {
    .body {
      // overflow-y: auto;
      max-height: calc(100% - 2rem);
    }
    width: 300px;
    height: 400px;
    @include flex(column, space-between, stretch);
    .top-bar {
      button {
        align-self: flex-start;
      }
    }
  }
}

// transitions

.route-enter-active,
.route-leave-active {
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  position: absolute;
}

.route-enter-from {
  opacity: 0;
  transform: scale(0.9);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.popup-enter-active,
.popup-leave-active {
  transition: opacity 0.2s ease-out;
  .wrapper {
    transition:
      opacity 0.2s ease-out,
      transform 0.2s ease-out;
  }
}

.popup-enter-from {
  opacity: 0;
  .wrapper {
    transform: scale(0.9);
  }
}

.popup-leave-to {
  opacity: 0;
  .wrapper {
    transform: translateY(20px);
  }
}

.user-popup-enter-active,
.user-popup-leave-active {
  transition:
    opacity 0.15s ease-out,
    transform 0.15s ease-out;
}

.user-popup-enter-from {
  opacity: 0;
  transform: translateY(-20px) scale(0.9);
}

.user-popup-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.warning-enter-active,
.warning-leave-active {
  transition: opacity 0.4s ease-out;
  // height 0.4s ease-out;
}

.warning-enter-from,
.warning-leave-to {
  opacity: 0;
  // height: 0;
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.2s ease-out;
}

.loading-enter-from,
.loading-leave-to {
  opacity: 0;
}

.loading {
  @include flex(row, center, center);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $black, $alpha: 0.8);
  z-index: 100;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
