@use 'variables.scss' as *;

@media screen and (max-width: 500px) {
  .transactions {
    .transaction {
      caption {
        display: none;
      }
    }
  }
  .page {
    width: calc(100% - 1rem);
  }
  .login,
  .register {
    width: calc(100% - 2rem);
  }
  .dashboard .dashboard-router {
    // justify-content: flex-end;
    .wrapper {
      width: 100vw;
      height: 100vh;
      // justify-self: flex-end;
      border-radius: 15px 15px 0 0;
      justify-content: flex-start;
      gap: 3rem;
      .text-wrapper {
        max-height: 100% !important;
      }
    }
    &.welcome-message {
      .body {
        flex: 1;
      }
      .bottom {
        flex: 0;
      }
    }
    &.card-issue {
      .wrapper .body {
        justify-content: space-between;
        flex: 2;
        .text-wrapper {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .dashboard .dashboard-router {
    &.card-issue {
      .wrapper .body {
        // background-color: red;
        max-height: calc(100vh - 8rem);
        .text-wrapper {
          padding-bottom: 4rem;
        }
      }
    }
  }
}
